
    

 <header>
      <nav>
        <div class="navbar navegador ">
          <a href='@Url.Action("Bienvenida", "Dennys")'><img src="../IMG/logo-dennys.png" alt="Logo"></a>
          <div class="div-navegador">

          <div class="navbar-item">
            <a class="linkk"  href='@Url.Action("Bienvenida", "Dennys")'>Inicio</a>
          </div>

          <div class="navbar-item">
            <a class="linkk" href='@Url.Action("Ayuda", "Dennys")'>Ayuda</a>
          </div>

          <div class="navbar-item">
             <li class="nav-item dropdown">
                <a class="linkk dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Funcionalidades
                </a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href= '@Url.Action("ObtenerReservas", "Dennys", new {idCliente = @BD.user.IdCliente})'>Tu Reserva</a></li>
                    <li><a class="dropdown-item" href='@Url.Action("AgregarRestaurante", "Dennys")'>Agregar Restaurante</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item sa" href='@Url.Action("Index", "Home")'>Cerrar sesion</a></li>
                  </ul>
            </li>

          </div>
         
           <div class="navbar-item">
            <a class="linkk " aria-disabled="true" href= '@Url.Action("Contactanos", "Dennys")'>Contactanos</a>
          </div>

           
          </div>
        </div>
        
      </nav>
    </header>


<main > 
    <div class="title-argegar">
        <h1 class="ind-text">Agrega tu restaurante!</h1>
    </div>
    <div class="formulario">
<form action='@Url.Action("GuardarRestaurante","Dennys")'class="div-formm" method="post">
    <div class="details-agregar">
    <div class="label-input">
        <label for="nombre">Nombre*</label>
        <input type="text" placeholder="Nombre" name="Nombre" required />
    </div>
    <div class="label-input">
        <label for="Direccion">Direccion*</label>
        <input type="text" name="Direccion" placeholder="Direccion" required>
    </div>
    <div class="label-input">
        <label for="HorarioApertura">Horario Apertura*</label>
        <input type="text" name="HorarioApertura" placeholder="Horario de Apertura" required>
    </div>
    <div class="label-input">
        <label for="HorarioClausura">Horario Clausura*</label>
        <input type="text" name="HorarioClausura" placeholder="Horario de Clausura" required>
    </div>
    <div class="label-input">
        <label for="FechaFundacion">Fecha Fundacion*</label>
        <input type="date" name="FechaFundacion" placeholder="Fecha de Fundacion" required>
    </div>

    <div class="label-input">
        <label for="Imagen">Imagen*</label>
        <input type="text" name="Imagen" placeholder="Imagen" required>
    </div>
    </div>
    <div class="label-input dddd">
        <label for="Descripcion">Descripcion*</label>
        <input type="text" name="Descripcion" placeholder="Descripcion" required>
    </div>
            <div class="padre-button">
              <div class="div-boton">
                <button class="button" type="submit">Agregar Restaurante</button>
                </div>
                </div>
    
</form>

</div>

</main>

<footer class="pie-pagina">


  <div class="grupo-1"> 
    <div class="box">
      <figure>
        <a href='@Url.Action("Bienvenida", "Dennys")'>
          <img src="../img/logo-dennys.png"  >
        </a>
      </figure>
    </div>
    <div class="box">
      <h2>SOBRE NOSOTROS</h2>
      <p>Pagina para reservar y compartir tus experiencias en diferentes restaurantes</p>
      <p>Conéctate con restaurantes: reserva, deja reseñas y accede a detalles fácilmente.</p>
    </div>
    <div class="box">
      <h2>SIGUENOS</h2>
      <div class="red-social">
        <a href="https://www.facebook.com/?locale=es_LA" class="fa fa-facebook" target="_blank"></a>
        <a href="https://www.instagram.com/" class="fa fa-instagram" target="_blank"></a>
        <a href="https://twitter.com/?lang=es" class="fa fa-twitter" target="_blank"></a>
        <a href="https://www.whatsapp.com/?lang=es" class="fa fa-whatsapp" target="_blank"></a>
      </div>
    </div>
  </div>

  <div class="grupo-2">
    <small>&copy; 2023 <b>Dennys </b>Todos los derechos reservados</small>
  </div>

</footer>

