<header>
      <nav>
        <div class="navbar navegador ">
          <a  href='@Url.Action("Bienvenida", "Dennys")'><img src="../IMG/logo-dennys.png" alt="Logo"></a>
          <div class="div-navegador">

          <div class="navbar-item">
            <a class="linkk"  href='@Url.Action("Bienvenida", "Dennys")'>Inicio</a>
          </div>

          <div class="navbar-item">
            <a class="linkk" href='@Url.Action("Ayuda", "Dennys")'>Ayuda</a>
          </div>

          <div class="navbar-item">
             <li class="nav-item dropdown">
                <a class="linkk dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Funcionalidades
                </a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href= '@Url.Action("ObtenerReservas", "Dennys", new {idCliente = @BD.user.IdCliente})'>Tu Reserva</a></li>
                    <li><a class="dropdown-item" href='@Url.Action("AgregarRestaurante", "Dennys")'>Agregar Restaurante</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item sa" href='@Url.Action("Index", "Home")'>Cerrar sesion</a></li>
                  </ul>
            </li>

          </div>
         
           <div class="navbar-item">
            <a class="linkk " aria-disabled="true" href= '@Url.Action("Contactanos", "Dennys")'>Contactanos</a>
          </div>

           
          </div>
        </div>
        
      </nav>
    </header>
 
 <div class="contactoo-padre">
        <div class="titlee-contacto">
          <h2>Queremos escucharte</h2>
        </div>
      <div class="mapaa-contacto">
      
      <div class="contenedorr-contacto">
        <div class="parrafoo-contacto">
          <p>¡Bienvenido a Dennys, tu destino gastronómico todo en uno! En Dennys, entendemos que la verdadera experiencia culinaria va más allá de un solo plato. Por eso, te ofrecemos no solo un restaurante, sino una colección de experiencias culinarias que abarcan una variedad de sabores y estilos.Descubre la diversidad de opciones que Dennys tiene para ofrecer. Desde platos exquisitos hasta pequeños rincones gastronómicos, cada restaurante dentro de Dennys tiene su propia historia que contar en forma de sabores únicos y atmosferas encantadoras.</p>
          <p>Descubre la diversidad de opciones que Dennys tiene para ofrecer. Desde platos exquisitos hasta pequeños rincones gastronómicos, cada restaurante dentro de Dennys tiene su propia historia que contar en forma de sabores únicos y atmosferas encantadoras.</p>
          <p>En Dennys, tú eres el protagonista de tu experiencia culinaria. ¿Quieres reservar una mesa para una ocasión especial? Nuestro sistema de reservas está diseñado para hacerlo fácil y conveniente. ¿Te encantó un plato en particular? ¡Déjanos saber tu opinión y comparte tu reseña para que otros puedan disfrutar de tu recomendación!</p>
          <p>Dennys es más que un local, es una comunidad apasionada por la comida, la exploración y la conexión a través de experiencias culinarias. Únete a nosotros mientras exploramos el mundo de los sabores juntos. ¡Bienvenido a Dennys, donde cada comida es una aventura única!</p>
        </div>
       
        <div class="div-mapaa">
          <iframe class="mapa" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d105073.331247592!2d-58.5157056645257!3d-34.615751270302205!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcca3d05457fbb%3A0xe160f4fce7f7c017!2sBuenos%20Aires!5e0!3m2!1ses!2sar!4v1689554722315!5m2!1ses!2sar" width="100%" height="350" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
    
    </div>
    <div class="Contactanosss">
      <h2>Contactanos</h2>
    </div>
    <div class="formularioo-contacto">
   
    <form class="formularioo" method="post">
     
      <label for="name">Nombre</label>
      <input class="in-ddd" type="text" id="Nombre" required name="Nombre" placeholder="Nombre" >


      <label for="text">Apellido</label>
      <input class="in-ddd" type="text" id="Apellido" required name="Apellido" placeholder="Apellido" >

      <label for="text">E-mail</label>
      <input class="in-ddd" type="email" id="Email" required name="Email" placeholder="E-mail" >

      <label for="Telefono">Telefono</label>
      <input class="in-ddd" type="tel" id="Telefono" required name="Telefono" placeholder="Telefono" >
      
      <label for="message">Mensaje</label>
      <textarea class="in-ddd" id="Mensaje" name="Mensaje" placeholder="Mensaje" ></textarea>

      <div class="submitt-enviar">
        <button onclick="GuardarCliente()" class="aaa">
            <a class="botonn">Contáctanos</a>
        </button>
      
      </div>

    </form>
  </div>
</div>


<footer class="pie-pagina">


  <div class="grupo-1"> 
    <div class="box">
      <figure>
        <a href='@Url.Action("Bienvenida", "Dennys")'>
          <img src="../img/logo-dennys.png"  > 
        </a>
      </figure>
    </div>
    <div class="box">
      <h2>SOBRE NOSOTROS</h2>
      <p>Pagina para reservar y compartir tus experiencias en diferentes restaurantes</p>
      <p>Conéctate con restaurantes: reserva, deja reseñas y accede a detalles fácilmente.</p>
    </div>
    <div class="box">
      <h2>SIGUENOS</h2>
      <div class="red-social">
        <a href="https://www.facebook.com/?locale=es_LA" class="fa fa-facebook" target="_blank"></a>
        <a href="https://www.instagram.com/" class="fa fa-instagram" target="_blank"></a>
        <a href="https://twitter.com/?lang=es" class="fa fa-twitter" target="_blank"></a>
        <a href="https://www.whatsapp.com/?lang=es" class="fa fa-whatsapp" target="_blank"></a>
      </div>
    </div>
  </div>

  <div class="grupo-2">
    <small>&copy; 2023 <b>Dennys </b>Todos los derechos reservados</small>
  </div>


</footer>