@{

    int indice = 0; 
}



    <header>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <a href='@Url.Action("Bienvenida", "Dennys")'><img src="../IMG/logo-dennys.png" alt="Logo"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <div class="items-navegador">
                        <div class="navbar-item">
                            <a class="linkk" href='@Url.Action("Bienvenida", "Dennys")'>Inicio</a>
                        </div>
                        <div class="navbar-item">
                            <a class="linkk" href='@Url.Action("Ayuda", "Dennys")'>Ayuda</a>
                        </div>
                        <div class="navbar-item">
                            <li class="nav-item dropdown">
                                <a class="linkk dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Funcionalidades
                                </a>
                                <ul class="dropdown-menu">
                                    @if(ViewBag.Cliente != null && ViewBag.Cliente.TipoCliente == false)
                                    {
                                        <li><a class="dropdown-item" href='@Url.Action("ObtenerReservas", "Dennys", new { idCliente = ViewBag.Cliente.IdCliente })'>Tu Reserva</a></li>
                                    }
                                    else
                                    {
                                        <li><a class="dropdown-item" href='@Url.Action("ObtenerReservas", "Dennys", new { idCliente = ViewBag.Cliente.IdCliente })'>Reservas</a></li>
                                    }
                                     @if(ViewBag.Cliente != null && ViewBag.Cliente.TipoCliente == true)
                                    {
                                        <li><a class="dropdown-item" href='@Url.Action("AgregarRestaurante", "Dennys")'>Agregar Restaurante</a></li>
                                    }
                                    <li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item sa" href='@Url.Action("Index", "Home")'>Cerrar sesión</a></li>
                                </ul>
                            </li>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <main class="main-reservas">
        @if(ViewBag.Cliente != null)
        {
            @if(ViewBag.Cliente.TipoCliente == true)
            {
                @if(ViewBag.NoReservas == true)
                {
                    <div class="alert alert-info p-5 centered-container">
                        <h4 class="mb-3">¡Todavía no tienes reservas!</h4>
                    </div>
                }
                else
                {
                    @if(ViewBag.Restaurantes != null)
                    {
                      
                        @foreach (var item in ViewBag.Restaurantes)
                        {
                            
                            <div class="padre-reservas">

                            <div class="card-reserva">
                                
                                    <div class="div-imgd">
                                        <img src="@item.Imagen" alt="">
                                    </div>
                                    <div class="dentro-reserva">
                                        
                                        <p><span class="span-reservas">Lugar:</span> @item.NombreRestaurante</p>
                                        <p><span class="span-reservas">Fecha:</span> @item.FechaReserva.ToShortDateString()</p>
                                        <p><span class="span-reservas">Hora:</span> @item.HoraReserva</p>
                                        <p><span class="span-reservas">Cantidad de Personas:</span> @item.CantidadPersonas</p>
                                    </div>
                                    <div class="a-btn-reservas">
                                        <a href='@Url.Action("EliminarReserva", "Dennys", new { idReserva = item.IdReserva, idCliente = ViewBag.Cliente.IdCliente })' class="boton-reserva">Eliminar Reserva</a>
                                    </div>
                            

                            </div>

                        </div>
                        }
                    }
                    else
                    {
                        <div>No hay restaurantes disponibles.</div>
                    }
                }
            }
            else
            {
                @if(ViewBag.ListaReservas != null)
                { 
                    
                    @foreach (var item in ViewBag.ListaReservas)
                    {
                        
                        <div class="padre-reservas">
                            <div class="card-reserva">
                                
                                    <div class="div-imgd">
                                        <img src="@item.Imagen" alt="">
                                    </div>
                                    <div class="dentro-reserva">
                                        <p><span class="span-reservas">Lugar:</span> @item.NombreRestaurante</p>
                                        <p><span class="span-reservas">Fecha:</span> @item.FechaReserva.ToShortDateString()</p>
                                        <p><span class="span-reservas">Hora:</span> @item.HoraReserva</p>
                                        <p><span class="span-reservas">Cantidad de Personas:</span> @item.CantidadPersonas</p>
                                    </div>
                                    <div class="a-btn-reservas">
                                        <a href='@Url.Action("EliminarReserva", "Dennys", new { idReserva = item.IdReserva, idCliente = ViewBag.Cliente.IdCliente })' class="boton-reserva">Eliminar Reserva</a>
                                    </div>
                            

                            </div>
                        </div>
                    }
                    
                }
               else{
                <div class="alert alert-info p-5 centered-container">
                        <h4 class="mb-3">¡Todavía no hiciste reservas!</h4>
                    </div>
               }
            }
        }
        else
        {
            <div>No se encontró el cliente.</div>
        }
    </main>

