@{
  int indice = 0;
}

<header>

<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
<a href='@Url.Action("Bienvenida", "Dennys")'><img src="../IMG/logo-dennys.png" alt="Logo"></a>    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="items-navegador">

        <div class="navbar-item">
            <a class="linkk"  href='@Url.Action("Bienvenida", "Dennys")'>Inicio</a>
          </div>

          <div class="navbar-item">
            <a class="linkk" href='@Url.Action("Ayuda", "Dennys")'>Ayuda</a>
          </div>

          <div class="navbar-item">
             <li class="nav-item dropdown">
                <a class="linkk dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Funcionalidades
                </a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href= '@Url.Action("ObtenerReservas", "Dennys", new {idCliente = @BD.user.IdCliente})'>Tu Reserva</a></li>
                    <li><a class="dropdown-item" href='@Url.Action("AgregarRestaurante", "Dennys")'>Agregar Restaurante</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item sa" href='@Url.Action("Index", "Home")'>Cerrar sesion</a></li>
                  </ul>
            </li>
          </div>
          
          </div>

  
      <form class="d-flex" role="search">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
      
    </div>
    
  </div>
</nav>
 </header>

<main class="main-reseñas">
    <div class="padre-reservas">
        @if (ViewBag.Reserva == null || ViewBag.Reserva.CantReservas == 0)
        {
             <div class="alert alert-info p-5">
                    <h4 class="mb-3">Todavía no tienes reservas!!!</h4>
                    <p class="mb-4">¡Haz tu primera reserva ahora mismo!</p>
                    <a href='@Url.Action("Bienvenida", "Dennys")' class="btn btn-lg btn-primary">Ir a reservar</a>
                </div>
        }  
       
        else
        
        {
           
            @foreach (var item in ViewBag.ListaReservas)
            {
                <div class="card-reseña">
                    <div class="">
                        <div class="div-imgd">
                            <img src="@ViewBag.Restaurantes[indice].Imagen" alt="">
                        </div>
                        <div class="dentro-reserva">
                            <p><span class="span-reservas">Lugar:</span> @item.NombreRestaurante</p>
                            <p><span class="span-reservas">Fecha:</span> @item.FechaReserva.ToShortDateString()</p>
                            <p><span class="span-reservas">Hora:</span> @item.HoraReserva</p>
                            <p><span class="span-reservas">Cantidad de Personas:</span> @item.CantidadPersonas</p>
                        </div>
                        <div class="a-btn-reservas">
                            <a href='@Url.Action("EliminarReserva", "Dennys", new { idReserva = @item.IdReserva, idCliente = BD.user.IdCliente })' class="boton-reserva">Eliminar Reserva</a>
                        </div>
                    </div>
                </div>
                indice = indice + 1;
            }
        }
    </div>
</main>

 