 @{
  int indice = 0;
}

    <div class="div-titulo">
        <h1>@ViewBag.InfoRes.Nombre</h1>
    </div>

    <div class="abuelo-VerMas">

        <div class="padre-VerMas">
            <div class="hijo-VerMas">
                <div class="div-img-VerMas">
                    <img class="img-VerMas" src="@ViewBag.InfoRes.Imagen" alt="">
                </div>
                    <div class="div-pes-VerMas">        
                            
                            <div class="p-VerMas">
                                <p><strong>Direccion:</strong>  @ViewBag.InfoRes.Direccion</p>
                            </div>

                            <div class="p-VerMas">
                                <p><strong>Fecha de Fundacion:</strong>  @ViewBag.InfoRes.FechaFundacion</p>
                                <p></p>
                            </div>

                            <div class="p-VerMas">
                                <p><strong>Horario de Apertura:</strong>  @ViewBag.InfoRes.HorarioApertura</p>
                            </div>
                            
                            <div class="p-VerMas">
                                <p><strong>Horario de Clausura:</strong> @ViewBag.InfoRes.HorarioClausura</p>
                            </div>

                            
                    </div>
                <div class="descripcion-VerMas" >
                    <p class="p-descri">Descripcion:</p>
                    <p> @ViewBag.InfoRes.Descripcion</p>
                </div> 

                            <div >
                                <p>Valoracion Promedio: @ViewBag.ValoracionPromedio estrellas</p>
                            </div> 
                <div class="div-estrellas-verMas">
                @for (int i = 1; i <= ViewBag.ValoracionPromedio; i++)
                {
                    <img class="estrellas-VerMas" src="/IMG/estrella.PNG">
                }
                </div>
        </div>
    </div>
   
        
        <div class="modal-body" >
                    <input type="hidden" name="idCliente" value="@BD.user.IdCliente">
                    <input type="hidden" name="id" id="IdRestaurante" value="ViewBag.InfoRes.IdRestaurante">
                    <div id="cuadroTexto">
                    <p><textarea name="Comentario" placeholder="Comparte tu opinión!" id="comentario" maxlength="500"  oninput="validarLongitud(this)"></textarea></p>
                    <p id="contador">500/500</p>
                        </div>
                    <div class="contenedor-esterllas">
                        <div class="rating">
                            <input value="5" name="Valoracion" id="star5" type="radio">
                            <label title="text" for="star5"></label>
                            <input value="4" name="Valoracion" id="star4" type="radio">
                            <label title="text" for="star4"></label>
                            <input value="3" name="Valoracion" id="star3" type="radio" checked="">
                            <label title="text" for="star3"></label>
                            <input value="2" name="Valoracion" id="star2" type="radio">
                            <label title="text" for="star2"></label>
                            <input value="1" name="Valoracion" id="star1" type="radio">
                            <label title="text" for="star1"></label>
                        </div>     
                    </div>
                </div>
                <div class="footer-btns">
                    <button type="button" class=" boton-esrella btn btn-secondary" data-bs-dismiss="modal">Salir</button>
                    <button class=" boton-esrella btn btn-primary" data-bs-dismiss="modal" onclick=" GuardarReseña(@BD.user.IdCliente, @ViewBag.InfoRes.IdRestaurante)">Publicar</button>
                </div>
    </div>

                <main class="main-reseñas">
                <div class="padre-reseñas">
                    @foreach (var item in ViewBag.ListaReseñas)
                    {
                        <div class="card-reseña">
                            <div class="dentro-reseñas">
                                <p><strong>@ViewBag.InfoReseñas[indice].Nombre comento:</strong>  </p>
                                <p>@item.Comentario</p>
                                @for (int i = 1; i <= item.Valoracion; i++)
                                {
                                    <img class="img-reseña" src="/IMG/estrella.PNG">
                                }
                            </div>
                        </div>
                        indice = indice + 1;
                    }
                </div>
                </main>
    

